
@{
    ViewBag.Title = "Doyle";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="contentArea">
    <div class="middleArea">
        <div class="contentBlock">
            <div class="contentBlockheader">
                <h3>Orders</h3>
                <div class="headerRightFeatures">
                    <img src="~/content/images/squre-tick.png" alt="">
                    <img src="~/content/images/disable.png" alt="">
                    <img src="~/content/images/cont.png" alt="">
                    <img src="~/content/images/new-f.png" alt="">
                    <img src="~/content/images/delete.png" alt="">
                    <img class="m-l-12" src="~/content/images/print.png" alt="">
                    <img src="~/content/images/export-move.png" alt="">
                    <div class="date m-l-12">
                        <img src="~/content/images/calender.png" alt="">
                        <span>01.01.17</span>
                    </div>
                    <span class="space-dash">-</span>
                    <div class="date">
                        <img src="~/content/images/calender.png" alt="">
                        <span>01.01.17</span>
                    </div>
                </div>
                <img class="downArr" src="~/content/images/downArr.png" alt="">
            </div>
            <div class="contentDetail">
                <div class="contentDetailTab">
                    <ul class="tabs">
                        <li class="tab-link" data-tab="tab-1">Pre-Dispatch</li>
                        <li class="tab-link" data-tab="tab-2">Dispatched</li>
                        <li class="tab-link current" data-tab="tab-3">#521233-00 Details</li>
                    </ul>
                    <div id="tab-1" class="tab-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    <div id="tab-2" class="tab-content">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div id="tab-3" class="tab-content current">
                        <div class="contentDetailRow">
                            <div class="order-number">
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>Order Number</label>
                                        <input class="width-55" type="text" name="" value="" placeholder="521233">
                                        <span class="dash">-</span>
                                        <select class="width-45">
                                            <option>00</option>
                                            <option>01</option>
                                        </select>
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Job Number</label>
                                        <input class="width-55" type="text" name="" value="" placeholder="6094">
                                        <span class="dash">-</span>
                                        <select class="width-45">
                                            <option>42</option>
                                            <option>43</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="contentDetailRow">
                                    <label>Cust #</label>
                                    <select class="width-65">
                                        <option>00463</option>
                                        <option>00463</option>
                                    </select>
                                    <input class="width-270 right" type="text" name="" value="" placeholder="NFI LOGISTICS LLC">
                                </div>
                            </div>
                            <div class="terminal">
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>Terminal Code </label>
                                        <select class="width-65">
                                            <option>PEN</option>
                                            <option>PEN</option>
                                        </select>
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Load Status</label>
                                        <select class="width-65">
                                            <option>PEN</option>
                                            <option>PEN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="contentDetailRow">
                                    <label>G/L Location </label>
                                    <input class="width-65 m-left-9" type="text" name="" value="" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="contentDetailRow">
                            <div class="shipper">
                                <div class="contentDetailRow">
                                    <p>Shipper</p>
                                    <select class="width-75">
                                        <option>HDFP2</option>
                                        <option>HDFP2</option>
                                        <option>HDFP2</option>
                                    </select>
                                    <label>Appt</label>
                                    <input class="width-65" type="text" name="" value="" placeholder="10/10/2017">
                                    <label>Time</label>
                                    <input class="width-55" type="text" name="" value="" placeholder="9:30 am">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-210" type="text" name="" value="" placeholder="HOOPESTON FOODS INC DF">
                                    <img class="call-icon" src="~/content/images/call.png" alt="">
                                    <input class="width-90" type="text" name="" value="" placeholder="(630) 123-4499">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-240" type="text" name="" value="" placeholder="FOOD GRADE TRAILER">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-140" type="text" name="" value="" placeholder="ELWOOD">
                                    <select class="width-45 m-left-9">
                                        <option>IL</option>
                                        <option>IL</option>
                                    </select>
                                    <input class="width-55 m-left-9" type="text" name="" value="" placeholder="60421">
                                    <button class="instrutionBtn m-left-9">Special instructions</button>
                                </div>
                            </div>
                            <div class="cosignee">
                                <div class="contentDetailRow">
                                    <p>Consignee</p>
                                    <select class="width-75">
                                        <option>HDFP2</option>
                                        <option>HDFP2</option>
                                        <option>HDFP2</option>
                                    </select>
                                    <label>Appt</label>
                                    <input class="width-65" type="text" name="" value="" placeholder="10/10/2017">
                                    <label>Time</label>
                                    <input class="width-55" type="text" name="" value="" placeholder="9:30 am">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-210" type="text" name="" value="" placeholder="HOOPESTON FOODS INC DF">
                                    <img class="call-icon" src="~/content/images/call.png" alt="">
                                    <input class="width-90" type="text" name="" value="" placeholder="(630) 123-4499">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-240" type="text" name="" value="" placeholder="FOOD GRADE TRAILER">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-140" type="text" name="" value="" placeholder="ELWOOD">
                                    <select class="width-45 m-left-9">
                                        <option>IL</option>
                                        <option>IL</option>
                                    </select>
                                    <input class="width-55 m-left-9" type="text" name="" value="" placeholder="60421">
                                    <button class="instrutionBtn m-left-9">Special instructions</button>
                                </div>
                            </div>
                        </div>
                        <div class="contentDetailRow">
                            <div class="order-number">
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>PO #</label>
                                        <input class="width-120" type="text" name="" value="" placeholder="">
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Cust Ref #</label>
                                        <input class="width-120" type="text" name="" value="" placeholder="139123">
                                    </div>
                                </div>
                                <div class="contentDetailRow">
                                    <label>Equip Type</label>
                                    <select class="width-55">
                                        <option>DV</option>
                                        <option>DV</option>
                                    </select>
                                    <input class="width-250 right" type="text" name="" value="" placeholder="53’ DOYLE VAN">
                                </div>
                            </div>
                            <div class="terminal haulTypeRow">
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>Container #</label>
                                        <input class="width-45" type="text" name="" value="" placeholder="">
                                        <span class="dash">-</span>
                                        <input class="width-75" type="text" name="" value="" placeholder="">
                                        <span class="dash">-</span>
                                        <input class="width-45" type="text" name="" value="" placeholder="">
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Haul Type</label>
                                        <select class="width-65">
                                            <option>TL</option>
                                            <option>TL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="contentDetailRow">
                                    <label>G/L Location </label>
                                    <select class="width-75">
                                        <option>LT</option>
                                        <option>LT</option>
                                    </select>
                                    <span class="read-only">Read-only text field</span>
                                </div>
                            </div>
                        </div>
                        <div class="contentDetailRow">
                            <label>Detail lines</label>
                            <div class="radioSelect">
                                <input type="radio" name="detailLines" value="">
                                <label>Load</label>
                            </div>
                            <div class="radioSelect">
                                <input type="radio" name="detailLines" value="">
                                <label>Drop</label>
                            </div>
                            <div class="radioSelect">
                                <input type="radio" name="detailLines" value="">
                                <label>Billing</label>
                            </div>
                            <div class="radioSelect">
                                <input type="radio" name="detailLines" value="">
                                <label>Description Lines</label>
                            </div>
                            <div class="radioSelect">
                                <input type="radio" name="detailLines" value="">
                                <label>Combine</label>
                            </div>
                            <div class="radioSelect">
                                <input type="radio" name="detailLines" value="">
                                <label>L/D Desc Only</label>
                            </div>
                        </div>
                        <div class="contentDetailRow">
                            <div class="multi-load">
                                <div class="multiLoadHeader">
                                    <button class="instrutionBtn">Multi load/Drop Information</button>
                                    <div class="headerRightFeatures">
                                        <img src="~/content/images/trans-tick.png" alt="">
                                        <img src="~/content/images/disable.png" alt="">
                                        <img src="~/content/images/cont.png" alt="">
                                        <img src="~/content/images/new-f.png" alt="">
                                        <img src="~/content/images/delete.png" alt="">
                                        <img class="m-l-12" src="~/content/images/print.png" alt="">
                                        <img src="~/content/images/export-move.png" alt="">
                                    </div>
                                </div>
                                <table class="multiLoadTable" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="one">01 - L</td>
                                            <td class="two">HOFP2</td>
                                            <td class="three">HOOPESTON FOODS INC DF</td>
                                            <td class="four">03/13/14</td>
                                        </tr>
                                        <tr>
                                            <td class="one">03 - B</td>
                                            <td class="two">TL1</td>
                                            <td class="three">INTERSTATE - TRUCK LOADS</td>
                                            <td class="four">356.00</td>
                                        </tr>
                                        <tr>
                                            <td class="one">02 - D</td>
                                            <td class="two">NFIEL</td>
                                            <td class="three">NFI DISTRIBUTION</td>
                                            <td class="four">03/13/14</td>
                                        </tr>
                                        <tr>
                                            <td class="one">04 - B</td>
                                            <td class="two">FSTRL</td>
                                            <td class="three">FUEL SURCHAGE - TRUCK LOADS</td>
                                            <td class="four">44.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="contentDetailRow">
                            <div class="total-quan">
                                <label>Tot Qty</label>
                                <input class="width-75 m-r-15" type="text" name="" value="" placeholder="">
                                <label>Tot Amt</label>
                                <input class="width-95 m-r-15" type="text" name="" value="" placeholder="400.00">
                                <label>Tot Ac Wt</label>
                                <input class="width-75 m-r-15" type="text" name="" value="" placeholder="">
                                <label>Tot Units</label>
                                <input class="width-75 m-r-15" type="text" name="" value="" placeholder="2.00">
                                <label>Aditional Orders</label>
                                <input class="width-45" type="text" name="" value="" placeholder="">
                            </div>
                        </div>
                        <div class="contentDetailRow order-green">
                            <p>Order</p>
                            <label>Date</label>
                            <div class="date m-l-12 m-r-15">
                                <img src="~/content/images/calender-gray.png" alt="">
                                <span>01.01.17</span>
                            </div>
                            <label>By</label>
                            <input class="width-120 m-r-15" type="text" name="" value="" placeholder="NFI">
                            <label>Phone</label>
                            <input class="width-95 m-r-15" type="text" name="" value="" placeholder="866-663-6882">
                            <label>K/By</label>
                            <input class="width-75 m-r-15" type="text" name="" value="" placeholder="D6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentBlock">
            <div class="contentBlockheader">
                <h3>Locations</h3>
                <div class="headerRightFeatures">
                    <img src="~/content/images/squre-tick.png" alt="">
                    <img src="~/content/images/disable.png" alt="">
                    <img src="~/content/images/cont.png" alt="">
                    <img src="~/content/images/new-f.png" alt="">
                    <img src="~/content/images/delete.png" alt="">
                    <img class="m-l-12" src="~/content/images/print.png" alt="">
                    <img src="~/content/images/export-move.png" alt="">
                    <div class="date m-l-12">
                        <img src="~/content/images/calender.png" alt="">
                        <span>01.01.17</span>
                    </div>
                    <span class="space-dash">-</span>
                    <div class="date">
                        <img src="~/content/images/calender.png" alt="">
                        <span>01.01.17</span>
                    </div>
                </div>
                <img class="downArr" src="~/content/images/downArr.png" alt="">
            </div>
            <div class="contentDetail">
                <table class="locationTable" cellspacing="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Lat.</th>
                            <th>Long.</th>
                            <th>Point</th>
                            <th>Type</th>
                            <th>Appt</th>
                            <th>Master Code</th>
                            <th>EDI Code</th>
                            <th>Phone</th>
                            <th>Contact</th>
                            <th>Fax</th>
                            <th>Op.hrs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                        <tr>
                            <td><img src="~/content/images/table-tick.png" alt=""></td>
                            <td>3SPRO</td>
                            <td>3 SPROUTS</td>
                            <td>151 GARFILED DRIVE</td>
                            <td>KIMBALL</td>
                            <td>MI</td>
                            <td>42°15’30’’ N</td>
                            <td>89°17’45’’ W</td>
                            <td>48074 SMITHS CR</td>
                            <td>LOAD</td>
                            <td>NO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10.00 - 19.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="contentBlock m-bottom-20">
            <label>With selected: </label>
            <select class="width-95">
                <option>Select action</option>
                <option>Select action</option>
            </select>
            <ul class="pagination">
                <li><a class="disable" href="#">First</a></li>
                <li><a class="disable" href="#">Previous</a></li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
                <li><a href="#">Last</a></li>
            </ul>
        </div>
    </div>
    <div class="rightArea">
        <div class="contentBlock">
            <div class="contentBlockheader">
                <h3>Edit Order</h3>
                <h4 class="orderID">#521233-00</h4>
                <div class="headerRightFeatures">
                    <img src="~/content/images/squre-tick.png" alt="">
                    <img src="~/content/images/disable.png" alt="">
                    <img src="~/content/images/cont.png" alt="">
                    <img src="~/content/images/new-f.png" alt="">
                    <img src="~/content/images/delete.png" alt="">
                </div>
                <img class="downArr" src="~/content/images/downArr.png" alt="">
            </div>
            <div class="contentDetail">
                <div class="contentDetailTab">
                    <ul class="tabsR">
                        <li class="tab-link currentR" data-tabR="new-tab-1">Details</li>
                        <li class="tab-link" data-tabR="new-tab-2">Messages</li>
                    </ul>
                    <div id="new-tab-1" class="tab-contentR currentR">
                        <div class="contentDetailRow">
                            <div class="order-number">
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>Order Number</label>
                                        <input class="width-55" type="text" name="" value="" placeholder="521233">
                                        <span class="dash">-</span>
                                        <select class="width-45">
                                            <option>00</option>
                                            <option>01</option>
                                        </select>
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Company</label>
                                        <input class="width-45" type="text" name="" value="" placeholder="1">
                                    </div>
                                </div>
                                <div class="contentDetailRow">
                                    <label>Cust #</label>
                                    <select class="width-65">
                                        <option>00463</option>
                                        <option>00463</option>
                                    </select>
                                    <input class="width-230 right" type="text" name="" value="" placeholder="NFI LOGISTICS LLC">
                                </div>
                            </div>
                            <div class="terminal">
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>Job Number</label>
                                        <input class="width-55" type="text" name="" value="" placeholder="6094">
                                        <span class="dash">-</span>
                                        <select class="width-45">
                                            <option>42</option>
                                            <option>43</option>
                                        </select>
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Terminal Code </label>
                                        <select class="width-65">
                                            <option>MT</option>
                                            <option>MT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>G/L Location </label>
                                        <input class="width-65 m-left-9" type="text" name="" value="" placeholder="">
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Load Status</label>
                                        <select class="width-65">
                                            <option>PEN</option>
                                            <option>PEN</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contentDetailRow">
                            <div class="shipper">
                                <div class="contentDetailRow">
                                    <p>Shipper</p>
                                    <select class="width-75">
                                        <option>HDFP2</option>
                                        <option>HDFP2</option>
                                        <option>HDFP2</option>
                                    </select>
                                    <label>Appt</label>
                                    <input class="width-65" type="text" name="" value="" placeholder="10/10/2017">
                                    <label>Time</label>
                                    <input class="width-65" type="text" name="" value="" placeholder="9:30 am">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-195" type="text" name="" value="" placeholder="HOOPESTON FOODS INC DF">
                                    <img class="call-icon" src="~/content/images/call.png" alt="">
                                    <input class="width-100" type="text" name="" value="" placeholder="(630) 123-4499">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-240" type="text" name="" value="" placeholder="FOOD GRADE TRAILER">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-140" type="text" name="" value="" placeholder="ELWOOD">
                                    <select class="width-45 m-left-9">
                                        <option>IL</option>
                                        <option>IL</option>
                                    </select>
                                    <input class="width-55 m-left-9" type="text" name="" value="" placeholder="60421">
                                </div>
                                <button class="instrutionBtn m-top-6">Special instructions</button>
                            </div>
                            <div class="cosignee">
                                <div class="contentDetailRow">
                                    <p>Consignee</p>
                                    <select class="width-75">
                                        <option>HDFP2</option>
                                        <option>HDFP2</option>
                                        <option>HDFP2</option>
                                    </select>
                                    <label>Appt</label>
                                    <input class="width-65" type="text" name="" value="" placeholder="10/10/2017">
                                    <label>Time</label>
                                    <input class="width-65" type="text" name="" value="" placeholder="9:30 am">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-195" type="text" name="" value="" placeholder="HOOPESTON FOODS INC DF">
                                    <img class="call-icon" src="~/content/images/call.png" alt="">
                                    <input class="width-100" type="text" name="" value="" placeholder="(630) 123-4499">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-240" type="text" name="" value="" placeholder="FOOD GRADE TRAILER">
                                </div>
                                <div class="contentDetailRow">
                                    <input class="width-140" type="text" name="" value="" placeholder="ELWOOD">
                                    <select class="width-45 m-left-9">
                                        <option>IL</option>
                                        <option>IL</option>
                                    </select>
                                    <input class="width-55 m-left-9" type="text" name="" value="" placeholder="60421">
                                </div>
                                <button class="instrutionBtn m-top-6">Special instructions</button>
                            </div>
                        </div>
                        <div class="contentDetailRow">
                            <div class="order-number">
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>PO #</label>
                                        <input class="width-120" type="text" name="" value="" placeholder="">
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Cust Ref #</label>
                                        <input class="width-120" type="text" name="" value="" placeholder="139123">
                                    </div>
                                </div>
                                <div class="contentDetailRow">
                                    <label>Equip Type</label>
                                    <select class="width-55">
                                        <option>DV</option>
                                        <option>DV</option>
                                    </select>
                                    <input class="width-220 right" type="text" name="" value="" placeholder="53’ DOYLE VAN">
                                </div>
                            </div>
                            <div class="terminal haulTypeRow">
                                <div class="contentDetailRow">
                                    <div class="contentDetailSlot">
                                        <label>Container #</label>
                                        <input class="width-40" type="text" name="" value="" placeholder="">
                                        <span class="dash">-</span>
                                        <input class="width-65" type="text" name="" value="" placeholder="">
                                        <span class="dash">-</span>
                                        <input class="width-40" type="text" name="" value="" placeholder="">
                                    </div>
                                    <div class="contentDetailSlot right">
                                        <label>Haul Type</label>
                                        <select class="width-45">
                                            <option>TL</option>
                                            <option>TL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="contentDetailRow">
                                    <label>Commodity code</label>
                                    <select class="width-75">
                                        <option></option>
                                        <option></option>
                                    </select>
                                    <span class="read-only">Read-only text field</span>
                                </div>
                            </div>
                        </div>
                        <div class="contentDetailRow final-status">
                            <div class="contentDetailRow">
                                <label>Pieces</label>
                                <select class="width-160">
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                            <div class="contentDetailRow">
                                <label>Weight</label>
                                <input class="width-160" type="text" name="" value="" placeholder="">
                            </div>
                            <div class="contentDetailRow">
                                <label>Seal #</label>
                                <input class="width-160" type="text" name="" value="" placeholder="">
                            </div>
                            <div class="contentDetailRow">
                                <label>BOL#</label>
                                <input class="width-95" type="text" name="" value="" placeholder="">
                                <input class="width-55 m-left-10" type="text" name="" value="" placeholder="">
                            </div>
                            <div class="contentDetailRow">
                                <label>Status</label>
                                <select class="width-160 available">
                                    <option>Available</option>
                                    <option>Available</option>
                                </select>
                            </div>
                            <div class="contentDetailRow">
                                <button class="select-fields" type="button">Sеlect Fields</button>
                            </div>
                        </div>
                    </div>
                    <div id="new-tab-2" class="tab-contentR">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

